.contact-information {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.contact-information .div {
  background-color: #ffffff;
  width: 1920px;
  height: 1080px;
  position: relative;
}

.contact-information .element {
  top: 397px;
  left: 130px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.contact-information .text-wrapper {
  position: absolute;
  top: 436px;
  left: 130px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.contact-information .text-wrapper-2 {
  top: 224px;
  left: 127px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 40px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.contact-information .text-wrapper-3 {
  top: 329px;
  left: 127px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 30px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.contact-information .view {
  position: absolute;
  width: 1660px;
  height: 78px;
  top: 52px;
  left: 130px;
}

.contact-information .fitnes-area {
  position: absolute;
  width: 280px;
  height: 78px;
  top: 0;
  left: 0;
}

.contact-information .overlap-group {
  position: absolute;
  width: 84px;
  height: 87px;
  top: -7px;
  left: -7px;
  background-image: url(./img/bg.svg);
  background-size: 100% 100%;
}

.contact-information .text-wrapper-4 {
  position: absolute;
  top: 27px;
  left: 26px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.contact-information .text-wrapper-5 {
  position: absolute;
  top: 23px;
  left: 100px;
  font-family: "Montserrat", Helvetica;
  font-weight: 800;
  color: #303030;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: normal;
  white-space: nowrap;
}

.contact-information .navbar {
  position: absolute;
  width: 380px;
  height: 37px;
  top: 25px;
  left: 1288px;
}

.contact-information .home {
  left: 0;
  font-weight: 700;
  position: absolute;
  top: 0;
  font-family: "Montserrat", Helvetica;
  color: #303030;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.contact-information .information {
  left: 89px;
  font-weight: 400;
  position: absolute;
  top: 0;
  font-family: "Montserrat", Helvetica;
  color: #303030;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.contact-information .contact {
  left: 195px;
  font-weight: 400;
  position: absolute;
  top: 0;
  font-family: "Montserrat", Helvetica;
  color: #303030;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.contact-information .support {
  left: 281px;
  font-weight: 400;
  position: absolute;
  top: 0;
  font-family: "Montserrat", Helvetica;
  color: #303030;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.contact-information .line {
  position: absolute;
  width: 62px;
  height: 1px;
  top: 36px;
  left: 1px;
  object-fit: cover;
}

.contact-information .text-wrapper-6 {
  position: absolute;
  top: 467px;
  left: 130px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.contact-information .text-wrapper-7 {
  position: absolute;
  top: 586px;
  left: 130px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.contact-information .text-wrapper-8 {
  top: 556px;
  left: 130px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.contact-information .text-wrapper-9 {
  top: 556px;
  left: 410px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.contact-information .text-wrapper-10 {
  position: absolute;
  top: 586px;
  left: 410px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.contact-information .image {
  position: absolute;
  width: 795px;
  height: 473px;
  top: 225px;
  left: 995px;
}

.contact-information .text-wrapper-11 {
  top: 675px;
  left: 130px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.contact-information .text-wrapper-12 {
  position: absolute;
  top: 705px;
  left: 130px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.contact-information .overlap-wrapper {
  position: absolute;
  width: 992px;
  height: 55px;
  top: 931px;
  left: 465px;
}

.contact-information .overlap {
  position: relative;
  width: 990px;
  height: 55px;
  background-color: #ffffff80;
  border-radius: 6px;
  border: 1px solid;
  border-color: #000000;
  box-shadow: 1px 1px 10px #766e6e8c;
}

.contact-information .text-wrapper-13 {
  width: 127px;
  height: 10px;
  top: 16px;
  left: 431px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #71717a;
  font-size: 15px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}
